img{
	display:block;
	margin: auto;
	padding-top: 10%;
}

body{
	background-color: black;
	color:white;
	font-size: 20px;
}

a{
	color:white;
	border: 1px solid white;
	padding: 5px 5px 0px 5px;
}

.navbar{
	text-align: center;
}

/*.footer{
	background-color: white;
	float:bottom;
	height: 15px;
	position: fixed;
}*/