html, body{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top left,#ac00e6, #ff0066, #004d99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left,#ff0066,#a64dff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left,#ff0066,#a64dff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top left,#ff0066,#a64dff); /* Standard syntax */ 
   /* border: solid 5px;*/
}

h1{
    color: white;
    font-family: 'Lobster', cursive;
}

.head { 
    /*border: solid 2px;*/
 }
.movie {
    border: solid 1px;
    margin: 1px;
    font-family: 'Lobster', cursive;
    font-family: 'Poiret One', cursive;
    color: #cccccc;

}

.movie .description {
font-family: 'Lobster', cursive;
font-family: 'Poiret One', cursive;

}
p  + .description{
    background-color: white;
}

/* big stuff */

.big {
    width: 80%;
    margin: 25px auto;
}

.big dl {
    height: 15px;
}
.big dt, .big dd {
    float: left;
}
.big dd {
    margin-left: 5px;
}

/* small stuff */

.small {
    width: 100%;
}

.small h1 {
    font-size: 16px;
}
.small h1, .small dl, .small dd {
    display: inline;
    margin: 0;
}
.small dd.year:before {
    content: "(";
}
.small dd.genre:after {
    content: ")";
}
.small dt {
    display: none;
}

.small .cast, .small ul, .small li {
    display: inline;
}
.small ul {
    padding: 5px;
}
.small li {
    list-style-type: none;
}
.small li:after {
    content: ",";
}
.small li:last-child:after {
    content: "";
}

.small .description {
    display: none;
}

/* both */

dd.year:after {
    content: ", ";
    margin-right: 5px;
}

.movie {
    border: solid 1px;
    margin: 5px;
    padding: 5px;
}

.movie.description {
    padding: 5px;
    background-color: #ddd;
}

/*
  Use the following for genre-specific styling. For example, maybe
  use a different border color or background color for each genre.
  */
.animation {
    border-color: #fcc;
}

.action {
    border-color: #33c;
}

.drama {
    border-color: #3f3;
}

/* Styling of form tags within div */
 .usercontrol{
    border-style: solid 1px;
    border-color: black;
  
 }




