body {
	background-color: green;
}

.current-page {
	font-family: helvetica, sans-serif;
	color: black;
	text-decoration: none;
}

.toc a:link, .toc a:visited, .toc a:active  {
	font-family: helvetica, sans-serif;
	color: blue;
	text-decoration: none;
}

.gifs {
	text-align: center;
}

.r-gif {
	text-align: center;
}

form {
	text-align: center;
}

.rb {
	text-align: center;
}

.ng {
	text-align: center;
}

#result {
	text-align: center;
}

.hide {
	display: none;
}

/*give me another day and I can get this looking real sexy, yeah?*/

/*.gifs {
	position: relative;
	text-align: left;
	display: hide;
}*/
/*.gifs {
	display: inline;
	float: right;
	white-space: nowrap;
}*/